include ../mixins/import

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title
      =project_name
      if isset(title)
        =" | " + title
    include components/favicons
    link(href="/stylesheets/style.css" rel="stylesheet")
    script(src="/javascripts/vendor/pace-1.2.4/pace.min.js")
    script(src="/javascripts/vendor/tom-select-2.2.2/tom-select.complete.min.js")
  body
    .container
      +zf-flash
      block content

    script(src="/javascripts/vendor/popper-2.11.6/popper.min.js")
    script(src="/javascripts/vendor/bootstrap-5.3.0/bootstrap.min.js")
    script(src="/javascripts/vendor/imask-7.0.0/imask.js")
    script(nonce=nonce() type="module").
        import Application from "/javascripts/app.js";
        let app = new Application({});
        app.initialize();
